<h1>&nbsp</h1>

<div class="jumbotron text-center">
    <div class="row">
        <h1>Send us a message</h1>
    
        <p>
        <%= form_for @contact do |f| %>
        
        <%= f.label :name %>
        <%= f.text_field :name %>
        
        <%= f.label :email %>
        <%= f.email_field :email %>
        
        <%= f.label :mobile %>
        <%= f.text_field :mobile %>
        
        <%= f.label :message %>
        <%= f.text_area :message %>
        
        <% end %>
            
        </p>
        
    </div>  
</div>