<!DOCTYPE html>
<html>
  <head>
    <title>GPS Sessionists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bodytxt">
    
    
<!--NAVBAR FROM GETBOOTSTRAP.COM-->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a href="#" class="navbar-brand">GPS Sessionists</a>-->
                <!--<img src="images/logo.png" width="120px" height="120px"></a>-->
            
            <!-- ADDED FONT AWSOME-->
            <!--<i class="fa fa-pencil-square-o strong navbar-brand"></i>-->
            <!-- ADDED FONT AWSOME-->
            <!--  <%= link_to 'Dev Match', root_path, class: 'navbar-brand'%>  -->
            
            <!--TO INCLUDE THE IMAGE IN THE HOME LINK-->
            <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-pencil-square-o strong"></i>
            GPS Sessionists
            <% end %>
            
            
            </div>

            <!-- <div class="clear"></div> -->
            <!--NOTE ON link_to and pagename_path are all ruby codes-->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><%= link_to "Home", root_path %></li>
                    <li><a href="#about">Videos</a></li>
                    <li><a href="#contact">Photos</a></li>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Contact us", new_contact_path %></li>
                </ul>
            </div><!--.nav-collapse -->
        </div>
    </nav>
<!--NAVBAR FROM GETBOOTSTRAP.COM-->    
    

  <div class="container">

    <h1>&nbsp</h1>
   
    <% if flash[:success] %>
      <div class="alert alert-success">
       <strong>Success!</strong> Message sent...
      </div>
    <% end %>

    <% if flash[:danger] %>
      <div class="alert alert-danger">
       <strong>Failed!</strong>  Error occured, message has not been sent...
      </div>
    <% end %>    

    <%= yield %>

   </div> 
  
  </body>
</html>
